/* src/pages/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 150px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
  }
  
  .input-field {
    margin-bottom: 15px;
    --background: white;
    --padding-start: 16px;
    border-radius: 8px;
  }
  
  .login-button {
    --background: #28A745; /* Cor do botão "Entrar" */
    color: white;
    border-radius: 8px;
  }
  